.party-container {
  width: 70rem;
  height: fit-content;
  background-color: rgba(122, 175, 255, 0.5);
  margin: auto;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  border-radius: 20px;
  /* clip-path: polygon(
    20px 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% calc(100% - 20px),
    980px 120%,
    120px 120%,
    0 calc(100% - 20px),
    0 20px
  ); */
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: visible;
}

.party-container-servant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.party-container-multi {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-50%) scale(1.3);
}

.party-container-filters{
  position: absolute;
  top: -8%;
  left: 65rem;
}

.party-container-regions{
  display: flex;
  position: absolute;
  top: -8%;
  left: 54rem;
}