.servant-container {
  width: 148px;
  height: 375px;
  float: left;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flexbox;
  flex-direction: column;
  font-size: 1rem;
  position: relative;
  -webkit-text-stroke: 1px black;
}

.servant-container-footer {
  width: 100%;
  height: 30%;
  background: linear-gradient(
    to top,
    rgba(255, 215, 0, 1) 70%,
    rgba(255, 215, 0, 0) 90%
  );
  position: absolute;
  top: 70%;
  opacity: 0.8;
  -webkit-text-stroke: 1px black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mask {
  height: 30%;
  top: 70%;
  background-image: url("/icons/servant-footer-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;

  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.black-border {
  border-color: black;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(130, 130, 130, 1) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  -webkit-text-stroke: 0.6px black;
  font-weight: bold;
}

.bronze-border {
  border-color: #8e7e66;
  background: linear-gradient(
    0deg,
    rgba(107, 94, 75, 1) 0%,
    rgba(193, 170, 136, 1) 60%,
    rgba(107, 94, 75, 1) 100%
  );
  color: rgba(107, 94, 75, 1);
  -webkit-text-stroke: 0.6px black;
  font-weight: bold;
}

.silver-border {
  border-color: silver;
  background: linear-gradient(
    0deg,
    rgba(121, 121, 121, 1) 0%,
    rgba(189, 189, 189, 1) 60%,
    rgba(121, 121, 121, 1) 100%
  );
  color: silver;
  -webkit-text-stroke: 0.6px black;
  font-weight: bold;
}

.gold-border {
  border-color: gold;
  background: linear-gradient(
    0deg,
    rgba(144, 122, 19, 1) 0%,
    rgba(255, 215, 0, 1) 60%,
    rgba(144, 122, 19, 1) 100%
  );
  color: rgb(255, 215, 0);
  -webkit-text-stroke: 0.6px black;
  font-weight: bold;
}

.servant-container-header {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 20%;
  display: flex;
}

.servant-container-header-class {
  position: absolute;
  width: 60%;
  top: -10%;
  left: -10%;
  align-items: center;
  justify-content: center;
}

.servant-container-header-class > p {
  margin: -15%;
}

.servant-container-header-rarity {
  color: gold;
  font-size: 1rem;
  margin-left: auto;
  margin-right: 5%;
  height: fit-content;
  width: fit-content;
  margin-top: 20%;
}
