body{
    margin: 0;
}

.button{
    float: left;
    border: none;
    background-color: gold;
    font-weight: bold;
}

.buttonHolder{
    height: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.party{
    height: 230px; 
    display: flex;
    justify-content: center;
} 

