body{
    margin: 0;
}

.button{
    float:left;
    border: none;
    background-color: gold;
    font-weight: bold;
}

.buttonHolder{
    height: 10px;
    margin-left: 278px;
    margin-top: 40px;
}

.party{
    height: 230px; 
    display: flex;
} 

.settings-icon{
    scale: .1;
}