body{
    margin: 0;
}

@media screen and (max-width: 700px) {
    .party{
        height: 230px; 
        display: flex;
        justify-content: center; 
        scale: 0.6;
    }
}

.button{
    height: 2rem;
    width: 15rem;
    border-radius: 10%;
    font-size: 1.2rem;
    float: left;
    border: none;
    background-color: gold;
    font-weight: bold;
    cursor:pointer;
}

.button:hover{
    background-color: rgba(255, 215, 0, .6);
}

.buttonHolder{
    height: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.party{
    height: 230px; 
    display: flex;
    justify-content: center;
} 

