.servantContainer {
  float: left;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
  margin: 10px;
  padding: 2px;
}

.black-border {
  border-color: black;
}

.bronze-border {
  border-color: #8e7e66;
}

.silver-border {
  border-color: silver;
}

.gold-border {
  border-color: gold;
}

.servantRarity {
  font-size: 30px;
  text-align: center;
}

.servantIcon {
  border-radius: 10px;
}