.servantContainer{
    float:left;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    border-collapse: collapse;
    margin: 10px;
    padding: 2px;
}

.servantRarity{
    font-size: 30px;
    text-align: center; 
} 