.settings-menu {
  width: 98%;
  height: 240px;
  margin-left: 1%;
  margin-top: 20px;
  position: absolute;
  text-align: center;
}

.settings-checkbox+.settings-checkbox {
  margin-left: 10px;
}

.settings-button+.settings-button {
  margin-left: 5px;
}

.settings-rarity>label {
  padding-right: 15px;
}

.star-label {
  position: relative;
  bottom: 1px;
}

.settings-class {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(10px, auto);
}

.knight-classes {
  grid-column: 1;
  grid-row: 1 / 3;
}

.cavalry-classes {
  grid-column: 2;
  grid-row: 1 / 4;
}

.new-classes {
  grid-column: 3;
  grid-row: 1 / 4;
}

.extra-classes {
  grid-column: 4;
  grid-row: 1 / 3;
}

.settings-button {
  margin-top: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 5px;
}

.switch::before{
  position: absolute;
  content: "NA";
  height: 15px;
  width: 15px;
  right: 52px;
  bottom: 7px;
}

.switch::after{
  position: absolute;
  content: "JP";
  height: 15px;
  width: 15px;
  left: 45px;
  bottom: 7px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:checked+.slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}