.settings-menu{
    width: 50%;
    height: 200px;
    margin-top: 20px;
    margin-left: 5px;
    position: absolute;
    text-align: center;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.settings-checkbox + .settings-checkbox{
    margin-left: 10px;
}

.settings-rarity > label {
    padding-right: 15px;
}

.star-label{
    position: relative;
    bottom: 1px;
}

.settings-class {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10px, auto);
}

.knight-classes{
    grid-column: 1;
    grid-row: 1 / 3;
}

.cavalry-classes{
    grid-column: 2;
    grid-row: 1 / 4;
}

.new-classes{
    grid-column: 3;
    grid-row: 1 / 4;
}

.extra-classes{
    grid-column: 4;
    grid-row: 1 / 3;
}

.settings-button{
    margin-top: 30px;
}