body{
    height: 100%;
    width: 100%;
}

.profile-header{
    background-color: aqua;
    width: calc(100%-1px);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}


.profile-header-2{
    background-color: aqua;
    width: calc(100%-1px);
    padding-left: 15px;
    font-size: 1.5rem;
    text-align: center;
}


.profile-header-text{
    padding-left: .5rem;
}

.profile-servant-net{
    display: flex;
    flex-wrap: wrap;
}

.profile-servant-net-card{
    width: 200px;
    margin: 2px;
    padding: 2px;
    border: solid black 1px;
    flex-grow: 1;
    text-align: center;
}

.profile-change-path-button{
    float: right;
    margin-right: 1rem;
    background-color: aqua;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.profile-servant-net-empty{
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5%;
    background-color: aquamarine;
}