.user-profile-filter-list {
    position: absolute;
    width: 80%;
    height: 600px;
    top: 80px;
    left: 10%;
    border: solid black 5px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5%;
}

.user-profile-filter-list > div > h2{
    background-color: goldenrod;
    text-align: center;
    border-radius: 5%;
}

.user-profile-filter-list-rarity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.user-profile-filter-list-rarity > div {
    background-color: grey;
    text-align: center;
    border-radius: 5%;
}

.user-profile-filter-list-class {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.user-profile-filter-list-class > div {
    background-color: grey;
    text-align: center;
    border-radius: 5%;
}

.user-profile-filter-list-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: silver;
}