:root{
  all: unset;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Verdana, Geneva, Tahoma,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  height: 100%;
  width: 100%;
  background-color: #598adb;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../public/singularity.jpeg") no-repeat center center;
  background-size: cover;
  filter: blur(0.4rem);
  z-index: -1;
}